html, body {
    height: 100%;
}

body {
   background: url('/web/images/bereznepmd-background5.png') center center;   /* Путь к фоновому изображению */
   background-attachment: fixed;

    /*background-color: #c7b39b;  Цвет фона*/
}

.wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    font-size: 15px;
}

.wrapper > .container {
    padding-top: 10px;
}

.share42init {
    margin: 10px 0;
}

footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 18px;
}

#map {
   height: 40vh;
}

#departments-map {
   height: 65vh;
}

.jumbotron {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 21px;
        background-color: transparent;
	background: url('/web/images/bereznepmd4.jpg') no-repeat center center;
	background-attachment: fixed;
	height: 540px;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	padding-top: 100px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.logo_icon {
    background: url('/web/images/doctor-icon.png') no-repeat center center;
    position: fixed;
    left: 7px;
    top: 0;
    width: 50px;
    height: 70px;
    z-index: 10000;
    background-size: 130%;
}

.img-opacity {
    opacity: 0.3;
}

.img-opacity:hover {
    opacity: 1.0 !important;
}

.doctor-card {
    margin-bottom: 20px;
    transition: all .5s;
}

.doctor-card .card-body {
    font-size: 0.8rem;
}

.doctor-card:hover {
    box-shadow: 0 0 15px rgba(119, 41, 83, .9);
}

.panel-card {
    margin-bottom: 20px;
}

.doctor-view-img {
    transition: all .5s;
}

.doctor-view-img:hover {
    box-shadow: 0 0 15px rgba(119, 41, 83, .9);
}

.doctor-view-table td {
    padding: .5rem;
}

.progress {
    height: 20px;
    margin-bottom: 5px;
}

div.required label:after {
    content: " *";
    color: red;
}

/*.container-more {
   max-width: 1300px !important;
}*/


/*.not-set {
    color: #c55;
    font-style: italic;
}*/

/* add sorting icons to gridview sort links */
/*a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113" "\e151";
}

a.desc:after {
    content: "\e114" "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}*/

/* align the logout "link" (button in form) of the navbar */
/*.nav li > form > button.logout {
    padding: 15px;
    border: none;
}*/


/*@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}*/